.headerContainer {
    background-color: rgb(227, 149, 242);
    padding: 10px 0px 10px 0px;
    background-image: url('headerPurple.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

.headerTitle {
    border: 7px border rgb(236, 99, 248);
    padding: 0px 5px 0px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:44pt;
    /* background-color: rgb(216, 122, 237); */
}

.gold-text {
    /*borrowed from: https://addisonlegere.com/blog/gold-text-with-css-image/ */
    color: #D5AD6D;
    /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
        -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}